<header class="flex justify-between items-center py-2 w-[1120px]">
    <img 
    class="rounded-full size-10"
    src="/avatar/avatar.jpg" 
    alt="Yadian LLada Lopez avatar"
    >
    <nav class="flex flex-row gap-10 opacity-80">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/">Projects</a>
        <a href="/">Tecnologies</a>
        <a href="/">Skills</a>
        <a href="/">Contact</a>
    </nav>
</header>